+include-style('pagination')

.pagination
    .pagination__list
        span.pagination__item.pagination__item--current 1
        a(href="#").pagination__item 2
        a(href="#").pagination__item 3
        a(href="#").pagination__item ...
        a(href="#").pagination__item 9
        a(href="#").pagination__item 10
