@import "src/assets/css/vars_mixins/vars_mixins";

.pagination {
	margin-top: 2rem;
	display: flex;
	justify-content: flex-end;
	@media (max-width: $md - 1) {
		margin-top: 20px;
		justify-content: flex-start;
	}


	&__list {
		display: flex;
		gap: .4rem;
		align-items: center;
		justify-content: center;
	}

	&__item {

		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 4rem;
		height: 4rem;
		text-align: center;
		text-decoration: none;
		position: relative;
		color: $mc;
		transition: all ease .3s;
		border-radius: 50%;
		&:hover {
			@media (hover: hover) {
				cursor: pointer;
				color: $primary;
			}
		}

	}


	&__item--current {
		color: $primary;
		pointer-events: none;
	}
}


