+include-style('price')

.prices
	.prices-block.prices-block--v1
		.container
			.prices-block__title.t1 Цены по поломкам
			.prices-block__list
				.prices-item
					.prices-item__title Не греет воду
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Кофе слишком холодный/горячий
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Не греет воду
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Кофе слишком холодный/горячий
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Не греет воду
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Кофе слишком холодный/горячий
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Не греет воду
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Кофе слишком холодный/горячий
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Не греет воду
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Кофе слишком холодный/горячий
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Не греет воду
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Кофе слишком холодный/горячий
					.prices-item__price от 79 BYN
	.prices-block.prices-block--v2
		.container
			.prices-block__title.t1 Цены по поломкам
			.prices-block__list
				.prices-item
					.prices-item__title Не греет воду
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Кофе слишком холодный/горячий
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Не греет воду
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Кофе слишком холодный/горячий
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Не греет воду
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Кофе слишком холодный/горячий
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Не греет воду
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Кофе слишком холодный/горячий
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Не греет воду
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Кофе слишком холодный/горячий
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Не греет воду
					.prices-item__price от 79 BYN
				.prices-item
					.prices-item__title Кофе слишком холодный/горячий
					.prices-item__price от 79 BYN

