@import "src/assets/css/vars_mixins/vars_mixins";


.review-slider{
	padding: 0 4rem;
	@media (max-width: $md - 1) {
		padding: 0 10px;
	}
	@media (max-width: $sm - 1) {
		.splide__slide{
			//width: 290px;
		}
	}
}

.review-card{
	border-radius: 1.2rem;
	padding: 2.4rem;
	display: flex;
	flex-direction: column;
	gap: 2.4rem;
	background-color: #fff;
	height: 100%;
	@media (max-width: $md - 1) {
		width: 290px;
		padding: 20px;
	}
	&__head{
		display: flex;
		gap: 1.2rem;
		align-items: center;
		@media (max-width: $md - 1) {
			gap: 12px;
		}
	}
	&__img{
		height: 4.4rem;
		width: 4.4rem;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		overflow: hidden;
		flex-shrink: 0;
		@media (max-width: $md - 1) {
			height: 44px;
			width: 44px;
		}
		img{
			position: absolute;
			inset: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	&__title{
		flex-grow: 1;
		color: $mc;
		display: flex;
		flex-direction: column;
		gap: .4rem;
		font-weight: 700;
		@media (max-width: $md - 1) {
			font-size: 16px;
			gap: 4px;
			font-weight: 600;
		}
	}

	.info{
		display: flex;
		justify-content: space-between;
		gap: 1.2rem;
		align-items: center;
	}
	&__date{
		margin-left: auto; 
		color: $n3;
		align-self: flex-end;
	}


	&__text{
		max-height: 19.4rem;
		font-size: 2rem;
		-webkit-line-clamp: 8;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
		@media (max-width: $md - 1) {
			max-height: 134px;
			font-size: 14px;
		}
	}
	&__link{
		margin-top: auto;
	}

}