+include-style('info')
+include-style('content')

-
	var items = [
		{
			img: 'service-1.jpg',
			title: 'Монтаж оборудования',
			btn: 'Заказать услугу'
		},
		{
			img: 'service-2.jpg',
			title: 'Сборка мебели',
			btn: 'Подробнее'
		},
		{
			img: 'service-3.jpg',
			title: 'Ремонт техники',
			btn: 'Заказать услугу'
		}
	]

.info
	.container
		.main-row
			.main-row__aside
				.sticky-block
					include ../slide-block/slide-block-3
			.main-row__main
				.content
					+lazy-img({
						wrap_mod: '',
						img: `information.jpg`
					})
					p В вопросах сервиса и обслуживания клиентов всегда есть к чему стремиться. Высокое качество сервиса с точки зрения организации может не работать с конкретным клиентом и его специфичными вопросами. В таком случае стоит обращать внимание на стандарты обслуживания, а не идти на поводу у лояльности клиента. Сервисное обслуживание должно работать как конвейер: точно, быстро, эффективно и везде одинаково. Вы никогда не можете знать заранее вернется ли клиент завтра, смогла ли компания решить его проблемы, доволен ли он обслуживанием. Это не должно влиять на качество вашего сервиса.
					p Модели такого обслуживания встречаются в больших компаниях, где все силы направлены на автоматизацию процессов, в том числе и клиентского сервиса. Еще недавно это было их конкурентным преимуществом, но сегодня, когда требования потребителя к индивидуальному обслуживанию растут, это стало их слабым местом.
					p Распространенной практикой стало использование автоинформатора. Записанный голос вроде бы вежлив, но не вызывает мотивации ждать ответа настоящего человека 40 минут. Индивидуальное внимание к каждому клиенту становится путем к успеху и победе над конкурентами.