.article-links
	.article-links__title.h2 Ещё статьи
	.article-links__list
		a(href="#").article-link
			.article-link__tag кофейные заметки
			.article-link__title Поездка Roast.by на Руандийские плантации 
			.article-link__info.article-info
				.article-info__date 23 июля 2024
				.article-info__time 5 мин. на чтение
		a(href="#").article-link
			.article-link__tag кофейные заметки
			.article-link__title Поездка Roast.by на Руандийские плантации 
			.article-link__info.article-info
				.article-info__date 23 июля 2024
				.article-info__time 5 мин. на чтение
		a(href="#").article-link
			.article-link__tag кофейные заметки
			.article-link__title Почему кофе заставляет нас бежать в туалет: уникальный взгляд на утренний ритуал
			.article-link__info.article-info
				.article-info__date 23 июля 2024
				.article-info__time 5 мин. на чтение



