+include-style('content')
+include-script('article')

-
    var items = [
        {
            img: 'service-1.png',
            title: 'Свежий взгляд на наш интернет-магазин!',
            btn: 'Заказать услугу'
        },        {
            img: 'service-2.png',
            title: 'Свежий взгляд на наш интернет-магазин!',
            btn: 'Заказать услугу'
        },
        {
            img: 'service-3.png',
            title: 'Что лучше: коляска-люлька или коляска-трансформер',
            btn: 'Подробнее'
        },
        {
            img: 'service-4.png',
            title: 'Что лучше: коляска-люлька или коляска-трансформер',
            btn: 'Подробнее'
        },
        {
            img: 'service-5.png',
            title: 'Как сделать букет своими руками',
            btn: 'Заказать услугу'
        },
        {
            img: 'service-6.png',
            title: 'Как сделать букет своими руками',
            btn: 'Заказать услугу'
        }
    ]

.container

    .article-slider
        h2 Рекомендуем
        +splide({
            mod: 'article-slider__slider js-splide-article'
        })
            each item in items
                +splide-slide()
                    +news-card({
                        slider: true,
                        img: item.img,
                        title: item.title
                    })


