+include-style('content')

.article.content
	.article-img
		+lazy-img({
			img: 'news-2.png'
		})
		.article-img__tag
			span кофейные заметки
	.article-inner
		.article-author.article-author--mobile
			.article-author__img
				+lazy-img({
					img: 'staff-1.png'
				})
			.article-author__content
				.article-author__author Автор статьи
				.article-author__name Екатерина Иванова

		.article-info
			.article-info__date 23 июля 2024
			.article-info__time 5 мин. на чтение
		h1 Как соль меняет вкус кофе

		p В разных странах рецепты и <a href="@">рекомендации</a> отличаются. В Тайване, например, морскую соль взбивают со сливками. Во Вьетнаме вместо сливок используют сгущенку с солью. В Европе чаще используют соленую карамель. А в Турции просто добавляют щепотку соли. И вот классический турецкий рецепт: на 200 мл воды используйте 1-2 чайные ложки кофе. Соль лучше всего сразу добавить в турку. Добавляйте буквально чуток на кончике ложки. Если всыпать больше, получится, мягко говоря, не очень. Все достаточно просто!
		p В разных странах рецепты и рекомендации отличаются. В Тайване, например, морскую соль взбивают со сливками. Во Вьетнаме вместо сливок используют сгущенку с солью. В Европе чаще используют соленую карамель. А в Турции просто добавляют щепотку соли. И вот классический турецкий рецепт: на 200 мл воды используйте 1-2 чайные ложки кофе. Соль лучше всего сразу добавить в турку. Добавляйте буквально чуток на кончике ложки. Если всыпать больше, получится, мягко говоря, не очень. Все достаточно просто!
		h2 Когда кофе с солью несовместимы
		p Важно понимать, что соль чаще используется именно для устранения неприятной горечи. В нашем каталоге представлено много видов зерна. Среди них есть уникальные, с высоким q-грейдом. И чаще это лоты светлой обжарки. Добавляя соль в такой кофе, вы, вероятно, потеряете яркую кислинку. Поэтому лучше всего добавлять соль только если вы переэкстрагировали напиток, чтобы сделать его более мягким.
		h5 Есть 5 самых распространенных видов соли:
		ol
			li поваренная
			li йодированная
			li йодированная
			li йодированная
			li йодированная
			li йодированная
			li йодированная
			li йодированная
			li морская
			li кельтская
			li гималайская
		blockquote
			h4 Йодированная и морская наиболее полезны по своим свойствам
			p Признаюсь вам, две последние я никогда не видела и не пробовала. А вот первые три, думаю, есть дома у каждого. Йодированная и морская наиболее полезны по своим свойствам. По сути, какую бы соль вы не добавили, разница будет только в ее полезных свойствах.

		p Не забывайте, что строго придерживаться рецепта не нужно. Количество соли и других ингредиентов регулируйте в соответствии со своими вкусовыми предпочтениями.
		p Под конец статьи я как раз допиваю свой кофе с солью. Что могу сказать, я специально сделала переэкстракт, и соль действительно улучшила напиток. Поэтому, если утром в спешке вы случайно запороли вкусную чашку кофе, не расстраивайтесь, попробуйте исправить ситуацию солью. А вы уже пробовали добавлять соль в кофе?

		ul
			li поваренная
			li йодированная
			li морская
			li кельтская
			li гималайская

		p Не забывайте, что строго придерживаться рецепта не нужно. Количество соли и других ингредиентов регулируйте в соответствии со своими вкусовыми предпочтениями.
		p Под конец статьи я как раз допиваю свой кофе с солью. Что могу сказать, я специально сделала переэкстракт, и соль действительно улучшила напиток. Поэтому, если утром в спешке вы случайно запороли вкусную чашку кофе, не расстраивайтесь, попробуйте исправить ситуацию солью. А вы уже пробовали добавлять соль в кофе?


	.article-footer
		.article-footer__left.h2 Поделиться статьей
		.article-footer__right
			a(href="#").article-icon
				+icon('i-vk')(style="height:40px;width:40px")
			a(href="#").article-icon
				+icon('i-tg')(style="height:40px;width:40px")
			a(href="#").article-icon
				+icon('i-wa')(style="height:40px;width:40px")
			a(href="#").article-icon
				+icon('i-viber')(style="height:40px;width:40px")
			a(href="#").article-icon
				+icon('i-inst')(style="height:40px;width:40px")
			a(href="#").article-icon
				+icon('i-fb')(style="height:40px;width:40px")

