-
	var items = [

		{
			img: 'news-2.png',
			title: 'Идеальное средство для удаления накипи «Doctor Coffee»',
			btn: 'Заказать услугу'
		},
		{
			img: 'news-1.png',
			title: 'Дисплейный модуль Nivona 830 831 840 845 848 850 855 858 877',
			btn: 'Заказать услугу'
		},
		{
			img: 'news-3.png',
			title: 'Ремонт кофемашин Saeco в Минске от компании Doctor Coffee',
			btn: 'Подробнее'
		},

	]

.article-links
	.page-header__title
		.h1.title Ещё статьи
	.article-links__list
		each item in [...items]
			+news-card({
				title: item.title,
				img: item.img
			})