mixin news-card(args={})
	+include-style('mixin__news-card')
	a(href="#").news-card
		.news-card__img
			img(loading="lazy" src=SITE_TEMPLATE_PATH +'images/'+ args.img)


		.news-card__content

			.news-card__title=args.title
			.news-card__date
				span 26 октября 2023
			.news-card__tags
				.news-card__tag #кофейные
				.news-card__tag #заметки