@import "src/assets/css/vars_mixins/vars_mixins";

.repair{

	&-search{
		position: relative;
		&__clear{
			width: 2.4rem;
			height: 2.4rem;
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			z-index: 2;
			right: 2.4rem;
			top: 0;
			bottom: 0;
			margin: auto 0;
			transition: all ease .3s;
			&:hover {
				@media (hover: hover) {
					cursor: pointer;
					fill: $primary-hover;
				}
			}
		}
	}

	&-inner{
		margin-top: 6rem;
		@media (max-width: $sm - 1) {
			margin-top: 30px;
		}
		@media (max-width: $xs - 1) {
			margin-top: 20px;
		}
	}
	&-empty{
		max-width: 80rem;
		margin: 0 auto;
		background-color: #fff;
		padding: 4rem;
		border-radius: 2.4rem;
		&__text{
			text-align: center;
			span{
				color: $primary;
			}
		}
	}

	&-cards{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 4rem 2rem;
		@media (max-width: $md - 1) {
			grid-template-columns: auto auto auto;
			justify-content: center;
			gap: 20px;
		}
		@media (max-width: $sm - 1) {
			grid-template-columns:  auto auto;
		}
		@media (max-width: $xs - 1) {
			grid-template-columns:  auto;
			align-items: center;
			gap: 16px;
			.brand-card{
				max-width: 224px;
			}
		}

	}
}