extends ../../layout/layout

block vars
    - var pageTitle = 'Статьи'
    - var pageBodyClass = ''
    - var dir = './'


block premain


block main
    .container
        include ../../components/news-list/news-list


block pageModal

block componentsCriticalStyles
    +componentsCriticalStyles-includer()
block vendorScripts
    +vendorScripts-includer()
block componentsStyles
    +style-includer()
block componentsScripts
    +componentsScripts-includer()
