
+include-style('about')


.container
	.about-inner
		.about-inner__bg
			img(loading="lazy" src=SITE_TEMPLATE_PATH + 'images/bg.png')
		+page-header({
			h1: false,
			title: 'Doctor Coffee всегда Вылечит вашу кофемашину',
			link: false
		})
		.about-inner__text
			p Компания DoctorCoffee — это профессионалы, специализирующиеся на ремонте и обслуживании кофейного оборудования в Беларуси. Мы понимаем, насколько важен качественный кофе, поэтому предлагаем комплексные услуги по диагностике, ремонту и техническому обслуживанию кофемашин любых брендов.
			br
			p Наш путь начался в 2014 году — именно тогда зародилась идея открыть компанию по ремонту кофемашин.
		.about-num
			.about-num__title.t2 Нашей компании уже более 10 лет!
			.about-num__item
				.h1 4000
				.t3 ремонтов произвели

			.about-num__item
				.h1 5000
				.t3 деталей поменяли

			.about-num__item
				.h1 2000
				.t3 клиентов порадовали

		.about-inner__text
			p И это не предел! Наши мастера проходят регулярное обучение, используют оригинальные запчасти и современное оборудование для ремонта. Мы предлагаем гибкие условия: удобный график работы, доставку техники курьером и гарантию на все выполненные работы сроком до 24 месяцев.
			br
			p Мы ремонтируем такие кофемашины как: Jura, Nivona, Delonghi, Saeco, Gaggia, Gaggenau, Kuppersbusch, Miele, AEG, Melitta, Bosch, Siemens, Solis, Spidem, Krups, Necta, Astoria, Aurora, Brasilia, Carimali, Cimbali, Elektra, Grimac, La Marzocco, San Marco, Expobar, W.E.G.A. и другие.
			br
			p DoctorCoffee заботится о вашем удобстве и качестве вашего кофе каждый день!
