.product-col

    .product-col__title Купить набор
    .product-col__grid
        .product-col__item.product-col__item--main
            .product-col__item-img
                +lazy-img({
                    wrap_mod: '',
                    img: 'product-card-2.jpg'
                })
            .product-col__item-body
                .product-col__item-price
                    span.price 14 000 ₽
                    span x
                    span.count  1 шт
                .product-col__item-name Надувная лодка из ПВХ MT-500

        .product-col__plus +
        .product-col__items
            .product-col__item
                .product-col__item-img
                    +lazy-img({
                        wrap_mod: '',
                        img: 'product-card-2.jpg'
                    })

                .product-col__item-body
                    .product-col__item-price
                        span.price 14 000 ₽
                        span x
                        span.count  1 шт
                    a(href='#').product-col__item-name Надувная лодка из ПВХ MT-500
                .product-col__item-control
                    +icon('i-close')(width="12px" height="12px")

            .product-col__item
                .product-col__item-img
                    +lazy-img({
                        wrap_mod: '',
                        img: 'product-card-2.jpg'
                    })

                .product-col__item-body
                    .product-col__item-price
                        span.price 14 000 ₽
                        span x
                        span.count  1 шт
                    a(href='#').product-col__item-name Надувная лодка из ПВХ MT-500
                .product-col__item-control
                    +icon('i-close')(width="12px" height="12px")

            .product-col__item
                .product-col__item-img
                    +lazy-img({
                        wrap_mod: '',
                        img: 'product-card-2.jpg'
                    })

                .product-col__item-body
                    .product-col__item-price
                        span.price 14 000 ₽
                        span x
                        span.count  1 шт
                    a(href='#').product-col__item-name Надувная лодка из ПВХ MT-500
                .product-col__item-control
                    +icon('i-close')(width="12px" height="12px")

            .product-col__item
                .product-col__item-img
                    +lazy-img({
                        wrap_mod: '',
                        img: 'product-card-3.jpg'
                    })

                .product-col__item-body
                    .product-col__item-price
                        span.price 14 000 ₽
                        span x
                        span.count  1 шт
                    a(href='#').product-col__item-name Надувная лодка из ПВХ MT-500
                .product-col__item-control
                    +icon('i-close')(width="12px" height="12px")

            .product-col__item.product-col__item--disabled
                .product-col__item-img
                    +lazy-img({
                        wrap_mod: '',
                        img: 'product-card-2.jpg'
                    })

                .product-col__item-body
                    .product-col__item-price
                        span.price 14 000 ₽
                        span x
                        span.count  1 шт
                    a(href='#').product-col__item-name Надувная лодка из ПВХ MT-500
                .product-col__item-control
                    +icon('i-close')(width="12px" height="12px")

        .product-col__equal =
        .product-col__summ
            .product-col__summ-total 20 600 ₽
            .product-col__summ-btn.btn.btn--primary Купить набор

