.product-gallery
	.product-gallery__inner
		.product-gallery__sliders-wrap
			.product-gallery__sliders
				.product-gallery__main
					.splide
						.splide__track
							ul.splide__list
								li.splide__slide
									.splide__slide-img-wrap
										img(src=SITE_TEMPLATE_PATH + 'images/product-gallery-main-1.jpg' alt='main')