+include-style('video-section')
+include-script('product')
+include-style('product')

.container.product
    .product__top
        include ./product-gallery--single-img
        include ./product-main
    .product__section
        include ./product-tabs
    .product__section
