+include-style('product')
+include-script('product')

.container.product(x-data="{activeTab: 'text'}")
	.product__top
		include ./product-gallery
		include ./product-main
	.product__section
		.product__section-info
			.product__section-info-close
				<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M0.21967 8.46945C-0.0732233 8.76234 -0.0732233 9.23722 0.21967 9.53011C0.512563 9.823 0.987437 9.823 1.28033 9.53011L4.87489 5.93555L8.46967 9.53033C8.76256 9.82322 9.23744 9.82322 9.53033 9.53033C9.82322 9.23744 9.82322 8.76256 9.53033 8.46967L5.93555 4.87489L9.53011 1.28033C9.823 0.987437 9.823 0.512563 9.53011 0.21967C9.23722 -0.0732236 8.76234 -0.0732234 8.46945 0.21967L4.87489 3.81423L1.28055 0.219892C0.987659 -0.0730012 0.512785 -0.0730014 0.219892 0.219892C-0.0730014 0.512785 -0.0730012 0.987659 0.219892 1.28055L3.81423 4.87489L0.21967 8.46945Z" fill="#C5C5C5"/>
				</svg>
			<svg xmlns="http://www.w3.org/2000/svg" width="17" height="25" viewBox="0 0 17 25" fill="none">
				<path d="M9.30273 24.0698H7.94291V20.8175H9.30273V24.0698Z" fill="#BB2749"/>
				<path d="M14.2461 22.9749L13.0522 23.6836L11.5631 20.7091L12.757 20.0004L14.2461 22.9749Z" fill="#BB2749"/>
				<path d="M5.68359 20.7086L4.19451 23.6831L3.0006 22.9744L4.48967 19.9999L5.68359 20.7086Z" fill="#BB2749"/>
				<path d="M17 17.1064L15.2739 12.6684V6.77378C15.2739 3.0387 12.2352 0 8.5001 0C4.76482 0 1.72612 3.0387 1.72612 6.77378V12.6684L0 17.1064H5.6756V17.2435C5.6756 18.8007 6.94267 20.0678 8.5001 20.0678C10.0573 20.0678 11.3244 18.8007 11.3244 17.2435V17.1064H17ZM3.20682 6.77378C3.20682 3.8552 5.58132 1.48069 8.5001 1.48069C11.4187 1.48069 13.7932 3.8552 13.7932 6.77378V12.0671H3.20682V6.77378ZM2.97295 13.5478H14.027L14.8353 15.6257H2.16474L2.97295 13.5478ZM9.84371 17.2435C9.84371 17.9844 9.24083 18.5871 8.5001 18.5871C7.75917 18.5871 7.15629 17.9844 7.15629 17.2435V17.1064H9.84352V17.2435H9.84371Z" fill="#BB2749"/>
			</svg>
			span Вы уже покупали этот товар, но еще не оставили отзыв. Люди обычно прислушиваются к мнению других покупателей, а оставляя отзывы вы еще и участвуете в программе лояльности, получаете баллы на внутренний счет
		include ./product-tabs
	//.product__section
	//    include ./product-popup