@import "src/assets/css/vars_mixins/vars_mixins";

.breadcrumbs {
	margin-bottom: 1.6rem;
	display: flex;
	align-items: center;
	overflow: auto;
	@media (max-width: $md - 1) {
		margin-bottom: 8px;
	}


	&__item {
		display: inline-block;
		position: relative;

		&:not(:last-child){
			margin-right: .8rem;
		}

	}
	&__link{
		height: 3.4rem;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 0 2.4rem;
		border: 1px solid $n2;
		border-radius: 1000px;
		background-color: #fff;
		@media (max-width: $md - 1) {
			height: 26px;
			padding: 0 16px;
		}
	}

}

a.breadcrumbs__link {
	color: $n4;
	font-style: normal;
	line-height: normal;
	transition: all ease .3s;

	@media (hover: hover) {
		&:hover {
			color: $primary;
		}
	}
}

span.breadcrumbs__link {

	background-color: $n1;
	color: $n3;
	@media (max-width: $sm - 1) {
		span{
			white-space: nowrap;
			display: inline-block;
			overflow: hidden;
			width: 100%;
			max-width: calc(100vw - 200px);
			text-overflow: ellipsis;
		}
	}

	@media (hover: hover) {
		&:hover {
			cursor: default;
		}
	}
}

