@import "src/assets/css/vars_mixins/vars_mixins";

.no-transition * {
	transition: none !important;
}

html {
	box-sizing: border-box;
	font-style: normal;
	line-height: 1.22;
	scroll-behavior: smooth;
	font-size: 10px;
	@media (max-width: $lg - 1) {
		font-size: 0.72vw;
	}
	@media (max-width: $md - 1) {
		font-size: 6.5px;
	}
}

body {
	font-size: 1.8rem;
	background-color: $bg;
	font-weight: 500;
	font-family: "Fira", Arial, Verdana, sans-serif;
	@media (max-width: $md - 1) {
		font-size: 14px;
	}
}

.bg--white{
	@media (min-width: $sm){
		background-color: #fff;
	}

}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.wrapper {
	display: flex;
	flex-direction: column;
	max-width: 100vw;
	min-height: 100vh;
}

.main {
	flex: 1 0 auto;
}


.hidden {
	display: none !important;
}

.icon {
	flex-shrink: 0;
}

svg {
	max-width: 100%;
}

img {
	max-width: 100%;
	object-fit: contain;
}

button {
	font-family: inherit;
}

a {
	text-decoration: none;

}


a:not[class] {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	text-decoration: underline;
	color: $primary;

	&:hover {
		@media (hover: hover) {
			cursor: pointer;
			color: $primary-hover;
			fill: $primary-hover;
		}
	}
}

input {
	font-family: inherit;

	&::placeholder {
		font-family: inherit;
	}
}

.mb-6{
	margin-bottom: 6rem;
}

.section-margin{
	margin-top: 16rem;
	@media (max-width: $md - 1) {
		margin-top: 80px;
	}
}


.h1 {
	font-size: 4.0rem;
	font-weight: 900;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: .2rem;
	@media (max-width: $md - 1) {
		font-size: 28px;
	}
	@media (max-width: $xs - 1) {
		font-size: 20px;
	}
}

.h2 {
	font-size: 2.0rem;
	font-weight: 900;
	line-height: 1.2;
	text-transform: uppercase;
}

.h3 {
	font-size: 1.8rem;
	font-weight: 900;
	line-height: 1.22;
	text-transform: uppercase;
	@media (max-width: $md - 1) {
		font-size: 16px;
	}
}

.h4 {
	font-size: 1.6rem;
	font-weight: 900;
	line-height: 1.25;
	text-transform: uppercase;
}

.h5 {
	font-size: 1.4rem;
	font-weight: 900;
	line-height: 1.21;
	text-transform: uppercase;
}

.t1{
	font-size: 2.8rem;
	font-weight: 700;
	line-height: 1.22;
}

.t2 {
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 1.25;
	@media (max-width: $md - 1) {
		font-size: 16px;
	}
}
.t3 {
	font-weight: 600;
	font-size: 2.2rem;
	line-height: 1.25;
}
