mixin splide(args= {})

	.splide&attributes(attributes)
		.splide__track
			ul.splide__list
				block
		.splide__arrows
			button.splide__arrow.splide__arrow--prev
				+icon('i-arrow-down')(style="width:2.4rem; height:2.4rem")

			button.splide__arrow.splide__arrow--next
				+icon('i-arrow-down')(style="width:2.4rem; height:2.4rem")
