extends ../../layout/layout

block vars
	- var pageTitle = 'Статья'
	- var pageBodyClass = ''
	- var dir = './'


block premain
	.container
		.page-top
			+breadcrumbs({
				content2: 'Статьи',
				href_content2: true,
				content3: 'Не только арабика и робуста: сорта и виды кофе'
			})


block main
	.container

				include ../../components/article/article

				include ../../components/article/article-links



block pageModal


block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()
block componentsScripts
	+componentsScripts-includer()
