@import "src/assets/css/vars_mixins/vars_mixins";

[x-cloak] {
	display: none !important;
}

.overlay {
	background: #000;
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);

	opacity: 0;
	visibility: hidden;
	transition: all ease .3s;

	&.visible {
		opacity: 0.6;
		visibility: visible;
	}
}

.content-container {
	max-width: 1090px;
	margin: 0 auto;
}

.link {
	font-size: 13px;

	&--v1 {
		color: $n3;
		border-bottom: 1px solid $n3;
		transition: all ease .3s;
		@media (min-width: $sm) {
			cursor: pointer;
			&:hover {
				color: $mc;
				border-color: $mc;
			}

		}
	}


}

.rate{
	display: flex;
	gap: .2rem;
	&-item{
		width: 1.8rem;
		height: 1.8rem;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99838 14.2752L4.84838 16.7752C4.66504 16.8919 4.47338 16.9419 4.27338 16.9252C4.07338 16.9085 3.89838 16.8419 3.74838 16.7252C3.59838 16.6085 3.48171 16.4629 3.39838 16.2882C3.31504 16.1135 3.29838 15.9175 3.34838 15.7002L4.44838 10.9752L0.773376 7.8002C0.606709 7.6502 0.502709 7.4792 0.461376 7.2872C0.420042 7.0952 0.432376 6.90786 0.498376 6.7252C0.564376 6.54253 0.664376 6.39253 0.798376 6.2752C0.932376 6.15786 1.11571 6.08286 1.34838 6.0502L6.19838 5.6252L8.07338 1.1752C8.15671 0.975195 8.28604 0.825195 8.46138 0.725195C8.63671 0.625195 8.81571 0.575195 8.99838 0.575195C9.18104 0.575195 9.36004 0.625195 9.53538 0.725195C9.71071 0.825195 9.84004 0.975195 9.92338 1.1752L11.7984 5.6252L16.6484 6.0502C16.8817 6.08353 17.065 6.15853 17.1984 6.2752C17.3317 6.39186 17.4317 6.54186 17.4984 6.7252C17.565 6.90853 17.5777 7.0962 17.5364 7.2882C17.495 7.4802 17.3907 7.65086 17.2234 7.8002L13.5484 10.9752L14.6484 15.7002C14.6984 15.9169 14.6817 16.1129 14.5984 16.2882C14.515 16.4635 14.3984 16.6092 14.2484 16.7252C14.0984 16.8412 13.9234 16.9079 13.7234 16.9252C13.5234 16.9425 13.3317 16.8925 13.1484 16.7752L8.99838 14.2752Z' fill='%23F5491F'/%3E%3C/svg%3E%0A");
		@media (max-width: $md - 1) {
			width: 16px;
			height: 16px;
		}
		&--empty{
			background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.00228 14.2801L4.85228 16.7801C4.66895 16.8967 4.47728 16.9467 4.27728 16.9301C4.07728 16.9134 3.90228 16.8467 3.75228 16.7301C3.60228 16.6134 3.48562 16.4677 3.40228 16.2931C3.31895 16.1184 3.30228 15.9224 3.35228 15.7051L4.45228 10.9801L0.777282 7.80508C0.610615 7.65508 0.506615 7.48408 0.465282 7.29208C0.423949 7.10008 0.436282 6.91275 0.502282 6.73008C0.568282 6.54741 0.668282 6.39741 0.802282 6.28008C0.936282 6.16274 1.11962 6.08775 1.35228 6.05508L6.20228 5.63008L8.07728 1.18008C8.16062 0.980078 8.28995 0.830078 8.46528 0.730078C8.64062 0.630078 8.81962 0.580078 9.00228 0.580078C9.18495 0.580078 9.36395 0.630078 9.53928 0.730078C9.71462 0.830078 9.84395 0.980078 9.92728 1.18008L11.8023 5.63008L16.6523 6.05508C16.8856 6.08841 17.0689 6.16341 17.2023 6.28008C17.3356 6.39674 17.4356 6.54675 17.5023 6.73008C17.5689 6.91341 17.5816 7.10108 17.5403 7.29308C17.4989 7.48508 17.3946 7.65575 17.2273 7.80508L13.5523 10.9801L14.6523 15.7051C14.7023 15.9217 14.6856 16.1177 14.6023 16.2931C14.5189 16.4684 14.4023 16.6141 14.2523 16.7301C14.1023 16.8461 13.9273 16.9127 13.7273 16.9301C13.5273 16.9474 13.3356 16.8974 13.1523 16.7801L9.00228 14.2801Z' fill='%23989898'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.85228 16.7801L9.00228 14.2801V0.580078C8.81962 0.580078 8.64062 0.630078 8.46528 0.730078C8.28995 0.830078 8.16062 0.980078 8.07728 1.18008L6.20228 5.63008L1.35228 6.05508C1.11962 6.08775 0.936282 6.16274 0.802282 6.28008C0.668282 6.39741 0.568282 6.54741 0.502282 6.73008C0.436282 6.91275 0.423949 7.10008 0.465282 7.29208C0.506615 7.48408 0.610615 7.65508 0.777282 7.80508L4.45228 10.9801L3.35228 15.7051C3.30228 15.9224 3.31895 16.1184 3.40228 16.2931C3.48562 16.4677 3.60228 16.6134 3.75228 16.7301C3.90228 16.8467 4.07728 16.9134 4.27728 16.9301C4.47728 16.9467 4.66895 16.8967 4.85228 16.7801Z' fill='%23F5491F'/%3E%3C/svg%3E%0A");
		}

	}
}

.preloader {
	background: url("/html/images/preloader.gif") no-repeat scroll center center rgba(0, 0, 0, 0) !important;
	border-color: transparent !important;
	color: transparent !important;
	cursor: default !important;
}

.policy-block {
	margin: 0;
	position: relative;
	display: block;
	box-shadow: none;
	color: #444444;
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
	line-height: 24px;
	display: flex;
	align-items: center;

	a {
		color: #444444;
		border-bottom: 1px solid #e3e3e3;

		&:hover {
			color: $accent;
			border-bottom: 1px solid $accent;
		}
	}
}



