mixin social(args={})
	+include-style('mixin__social')
	.social
		.social__list
			a(href="#").social__item
				+icon('i-social-1')(style="width:3.6rem;height:3.6rem;")
			a(href="#").social__item
				+icon('i-social-2')(style="width:3.6rem;height:3.6rem;")
			a(href="#").social__item
				+icon('i-social-3')(style="width:3.6rem;height:3.6rem;")
			a(href="#").social__item
				+icon('i-social-4')(style="width:3.6rem;height:3.6rem;")
