@import "src/assets/css/vars_mixins/vars_mixins";

.social{
	&__list{
		display: flex;
		gap: 1.6rem;
	}
	&__item{
		display: flex;
		align-items: center;
		justify-content: center;
		fill: $n2;
		transition: all ease .3s;
		&:hover {
			@media (hover: hover) {
				cursor: pointer;
				fill: $primary;
				svg{

				}

			}
		}
		@media (max-width: $md - 1) {
			svg{
				min-width: 24px;
				min-height: 24px;
			}
		}
	}
}