+include-style('reg')

.reg
	.reg-form
		.reg-form__title Регистрация

		form.form-block.edit.modal-auth
			.form-grid
				.form-section
					.form-section__title Данные для входа
					+input({
                        label: 'Телефон',
                        fg_mod: 'form-group--margin',
                        label_mod: 'form-control-label--small',
                        type: 'tel',
                        name: false,
                        small: false,
                        placeholder: '+375 (__) ___-__-__',
                        required: true,
                        pattern: 'phone',
                        validation: {
                            message: 'Заполните поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
					+input({
                        label: 'Email',
                        type: 'email',
                        label_mod: 'form-control-label--small',
                        fg_mod: 'form-group--margin',
                        name: false,
                        small: false,
                        placeholder: 'example@example.com',
                        required: true,
                        pattern: '[A-Za-zА-Яа-я0-9\_\-]{1,}@[A-Za-zА-Яа-я0-9\_\-]{1,}\.[A-Za-zА-Яа-я0-9]{2,}',
                        validation: {
                            message: 'Заполните поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
					+input({
                        fg_mod: 'form-group--margin',
                        label_mod: 'form-control-label--small',
                        xType: "showPass ? 'text' : 'password'",
                        label: 'Пароль',
                        type: 'text',
                        placeholder: false,
                        required: true,
                        pass: true,
                        pattern: false,
                        validation: {
                            message: 'Обязательное поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
						.show-pass(@click="showPass = !showPass" x-cloak)
							+icon('i-show-pass')(style="width:16px; height:16px")(x-show="!showPass")
							+icon('i-show-pass-2')(style="width:16px; height:16px")(x-show="showPass")
						//.form-group__description Длина пароля не менее 6 символов
					+input({
                        fg_mod: 'form-group--margin',
                        label_mod: 'form-control-label--small',
                        xType: "showPass ? 'text' : 'password'",
                        label: 'Повтор пароля',
                        type: 'text',
                        pass: true,
                        placeholder: false,
                        required: true,
                        pattern: false,
                        validation: {
                            message: 'Обязательное поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })(x-data="{showPass: false}" )
						.show-pass(@click="showPass = !showPass" x-cloak)
							+icon('i-show-pass')(style="width:16px; height:16px")(x-show="!showPass")
							+icon('i-show-pass-2')(style="width:16px; height:16px")(x-show="showPass")
						//.form-group__description Длина пароля не менее 6 символов
				.form-section
					.form-section__title Банковские реквизиты
					+input({
                        label: 'Расчетный счет',
                        fg_mod: 'form-group--margin',
                        label_mod: 'form-control-label--small',
                        type: 'text',
                        name: false,
                        small: false,
                        placeholder: 'BY24MTBK30120001015600114374',
                        required: true,
                        validation: {
                            message: 'Заполните поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
					+input({
                        label: 'Название банка',
                        fg_mod: 'form-group--margin',
                        label_mod: 'form-control-label--small',
                        type: 'text',
                        name: false,
                        small: false,
                        placeholder: 'ЗАО “МТБанк”',
                        required: true,
                        validation: {
                            message: 'Заполните поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
					+input({
                        label: 'Код банка (БИК)',
                        fg_mod: 'form-group--margin',
                        label_mod: 'form-control-label--small',
                        type: 'text',
                        name: false,
                        small: false,
                        placeholder: 'MTBKBY22',
                        required: true,
                        validation: {
                            message: 'Заполните поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
					+input({
                        label: 'Адрес банка',
                        fg_mod: 'form-group--margin',
                        label_mod: 'form-control-label--small',
                        type: 'text',
                        name: false,
                        small: false,
                        placeholder: '220007, г. Минск, ул. Толстого, д.10',
                        required: true,
                        validation: {
                            message: 'Заполните поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })



				.form-section
					.form-section__title Реквизиты компании
					+input({
                        label: 'Оф. название юр.лица или ИП',
                        fg_mod: 'form-group--margin',
                        label_mod: 'form-control-label--small',
                        type: 'text',
                        name: false,
                        small: false,
                        placeholder: 'ООО  ПРИМЕР',
                        required: true,
                        validation: {
                            message: 'Заполните поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
					+input({
                        label: 'УНП',
                        fg_mod: 'form-group--margin',
                        label_mod: 'form-control-label--small',
                        type: 'text',
                        name: false,
                        small: false,
                        placeholder: '123456789',
                        required: true,
                        validation: {
                            message: 'Заполните поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
					+input({
                        label: 'Город',
                        fg_mod: 'form-group--margin',
                        label_mod: 'form-control-label--small',
                        type: 'text',
                        name: false,
                        small: false,
                        placeholder: 'Минск',
                        required: true,
                        validation: {
                            message: 'Заполните поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
					+input({
                        label: 'Юридический адрес',
                        fg_mod: 'form-group--margin',
                        label_mod: 'form-control-label--small',
                        type: 'text',
                        name: false,
                        small: false,
                        placeholder: '220030, г. Минск, пр-т Независимости д.11',
                        required: true,
                        validation: {
                            message: 'Заполните поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
					+input({
                        label: 'Фактический адрес',
                        fg_mod: 'form-group--margin',
                        label_mod: 'form-control-label--small',
                        type: 'text',
                        name: false,
                        small: false,
                        placeholder: 'г. Минск, пр-т Независимости д.11',
                        required: true,
                        validation: {
                            message: 'Заполните поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })
					+input({
                        label: 'Название сайта',
                        fg_mod: 'form-group--margin',
                        label_mod: 'form-control-label--small',
                        type: 'text',
                        name: false,
                        small: false,
                        placeholder: 'example.by',
                        required: false,
                        validation: {
                            message: 'Заполните поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })

					+textarea({
                        label: 'Полное наименование юридического лица',
                        mod: 'form-group--ta is_legal_address',
                        label_mod: 'form-control-label--small',
                        placeholder: 'Минск',
                        required: true,
                        validation: {
                            message: 'Заполните поле',
                            regexp: 'Неверный формат',
                            emailaddress: ' ',
                            identical: false
                        }
                    })




			.form-block__footer
				.policy-block
					+checkbox({
                        mod: 'form-group--checkbox',
                        label: 'Я согласен на <a href="#"> обработку персональных данных</a>',
                        value: '',
                        name: 'policy',
                        required: true,
                    })(checked)

				button(type="submit").btn.btn--fw.btn--cart Создать аккаунт
			//-.form-block__auth
				p Уже зарегистрированы?
				.forgot(data-toggle="modal" data-dismiss="modal" data-target="#modal-auth") Войти






.container

	iframe()