@import "src/assets/css/vars_mixins/vars_mixins";

.index-utp__grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
	@media (max-width: $md - 1) {
		gap: 12px;
		grid-template-columns: 1fr 1fr;
	}
	@media (max-width: $xs - 1) {
		grid-template-columns: 1fr;
	}
}

.utp-card{
	background-color: #fff;
	border-radius: 1.2rem;
	padding: 2.4rem;
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
	@media (max-width: $md - 1) {
		padding: 16px;
		gap: 12px;
	}
	&__img{
		height: 6rem;
		width: 6rem;
		display: flex;
		align-items: center;
		justify-content: center;
		@media (max-width: $md - 1) {
			height: 48px;
			width: 48px;
		}
		img{
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}
	&__title{
		color: $mc;
	}
	&__text{

		color: $text;
	}

}