@import "src/assets/css/vars_mixins/vars_mixins";

.search-inner{
	margin-bottom: 35px;
	@media (max-width: $sm - 1) {
		margin-bottom: 20px;
	}

	.form-control{
		background: $b4;
		&:focus{
			background: $b4;
		}
	}
	.btn--search{
		@media (min-width: $md){
			width: 180px;
		}

	}
}

