extends ../../layout/layout

block vars
    - var pageTitle = '404'
    - var pageBodyClass = 'not-found-page'
    - var dir = './'


block premain


block main
    include ../../components/404/404

block pageModal

block componentsCriticalStyles
    +componentsCriticalStyles-includer()
block vendorScripts
    +vendorScripts-includer()
block componentsStyles
    +style-includer()
block componentsScripts
    +componentsScripts-includer()
