+modal({
    id: 'modal-password',
    mod: 'modal-narrow modal-auth',
    title: 'Восстановление пароля',
    header: true
})
	.modal-alert
		+icon('i-alert')(style="width:24px;height:24px;")
		p Введите адрес электронной почты. Мы отправим на него ссылку для восстановления пароля.
	form.form-block.edit(x-data="{showPass: false}")

		+input({
            label: 'Email',
            type: 'email',
            label_mod: 'form-control-label--small',
            fg_mod: 'form-group--margin',
            name: false,
            small: false,
            placeholder: 'example@example.com',
            required: true,
            pattern: '[A-Za-zА-Яа-я0-9\_\-]{1,}@[A-Za-zА-Яа-я0-9\_\-]{1,}\.[A-Za-zА-Яа-я0-9]{2,}',
            validation: {
                message: 'Заполните поле',
                regexp: 'Неверный формат',
                emailaddress: ' ',
                identical: false
            }
        })
		.form-block__submit
			button(type="submit").btn.btn--cart.btn--fw Продолжить

