extends ../../layout/layout

block vars
	- var pageTitle = 'ремонт кофемашин '
	- var pageBodyClass = ''
	- var dir = './'


block premain



block main
	+page-header({
		h1: true,
		mod: 'mb-6',
		breadcrumb: true ,
		title: 'ремонт кофемашин',
		link: false
	})

	include ../../components/repair/repair

	include ../../components/seo/seo
	include ../../components/form/page-form




block pageModal

block componentsCriticalStyles
	+componentsCriticalStyles-includer()
block vendorScripts
	+vendorScripts-includer()
block componentsStyles
	+style-includer()
block componentsScripts
	+componentsScripts-includer()
block scripts

	// Скрипты для всех страниц
	script(src="./js/vendor/splide.min.js" defer)
