-
	var brands = [
		{
			title: 'Ремонт кофемашин Bosch',
			link: 'ссылка на страницу бренда',
			brand: 'Bosch',
			img: '/images/brand-1.png',
			text: 'Обратился с поломкой стимера в эспрессо-кофеварке Lelit. Сделали все за 2 дня. Доволен, все теперь отлично работает. Обратился с поломкой стимера в эспрессо-кофеварке Lelit. Сделали все за 2 дня. Доволен, все теперь отлично работает. аппппппппппппп',
		},
		{
			title: 'Ремонт кофемашин Saeco Philips',
			link: 'ссылка на страницу бренда',
			brand: 'Saeco',
			img: '/images/brand-2.png',
			text: 'Ремонт Bosch кофемашин (TES, TCA, TCC) подчиняется нам полностью. За годы ремонта нам попадались практически все возможные поломки. К счастью...',

		},
		{
			title: 'Ремонт кофемашин Bosch',
			link: 'ссылка на страницу бренда',
			brand: 'Bosch',
			img: '/images/brand-3.png',
			text: 'Обратился с поломкой стимера в эспрессо-кофеварке Lelit. Сделали все за 2 дня. Доволен, все теперь отлично работает. Обратился с поломкой стимера в эспрессо-кофеварке Lelit. Сделали все за 2 дня. Доволен, все теперь отлично работает. аппппппппппппп',
		},
		{
			title: 'Ремонт кофемашин Saeco Philips',
			link: 'ссылка на страницу бренда',
			brand: 'Philips',
			img: '/images/brand-4.png',
			text: 'Ремонт Bosch кофемашин (TES, TCA, TCC) подчиняется нам полностью. За годы ремонта нам попадались практически все возможные поломки. К счастью...',

		},
		{
			title: 'Ремонт кофемашин Jura',
			link: 'ссылка на страницу бренда',
			brand: 'Jura',
			img: '/images/brand-5.png',
			text: 'Обратился с поломкой стимера в эспрессо-кофеварке Lelit. Сделали все за 2 дня. Доволен, все теперь отлично работает. Обратился с поломкой стимера в эспрессо-кофеварке Lelit. Сделали все за 2 дня. Доволен, все теперь отлично работает. аппппппппппппп',
		},
		{
			title: 'Ремонт кофемашин Saeco Philips',
			link: 'ссылка на страницу бренда',
			brand: 'Philips',
			img: '/images/brand-6.png',
			text: 'Ремонт Bosch кофемашин (TES, TCA, TCC) подчиняется нам полностью. За годы ремонта нам попадались практически все возможные поломки. К счастью...',

		},
	]


