+include-style('news-article')

.news-article
    .container
        .main-row
            .main-row__main
                include ../tabs-section/tabs-section-all
                //include ../products-slider/products-slider--small-container
                include ../accordion/accordion



            .main-row__aside.main-row__aside--right
                .sticky-block
                    include ../slide-block/slide-block-right
                    include ../aside-targets/aside-targets
                    include ../subscribe-block/subscribe-block