+include-style('map')


.contacts-map.section-margin
	.page-header
		.container
			.page-header__title
				.h1.title сервисный центр в <span class="accent">Минске</span>

	.container
		.map
			.map-info
				.dropdown(x-data="{open: false}" :class="open && 'active'" @click.outside="open=false")
					.dropdown-head(@click="open=!open")
						span Открыто до 19:00
						+icon('i-arrow-down')(style="width:2.4rem;height:2.4rem;")

					.dropdown-body(:class="open && 'active'")
						.dropdown-body__title.t2 Время работы
						.dropdown-body__list
							.dropdown-item
								.prop Понедельник
								.val 08:00–19:00
							.dropdown-item
								.prop Вторник
								.val 08:00–19:00
							.dropdown-item
								.prop Среда
								.val 08:00–19:00
							.dropdown-item
								.prop Четверг
								.val 08:00–19:00
							.dropdown-item
								.prop Пятница
								.val 08:00–19:00
							.dropdown-item
								.prop Суббота
								.val 10:00–15:00
							.dropdown-item
								.prop Воскресенье
								.val выходной

				.map-info__title
					span.t2 Doctor Coffee
					.rate
						.rate-item
						.rate-item
						.rate-item
						.rate-item
						.rate-item.rate-item--empty
				.map-info__links
					a(href="#").map-info__link
						+icon('i-phone')(style="width:2.4rem;height:2.4rem;")
						span +375 (17) 388-03-06 
					a(href="#").map-info__link
						+icon('i-mail')(style="width:2.4rem;height:2.4rem;")
						span +375 (17) 388-03-06 
					.map-info__link
						+icon('i-location')(style="width:2.4rem;height:2.4rem;")
						span +375 (17) 388-03-06 
				.map-info__metro
					.metro-item
						.metro-item__icon M
						.metro-item__name Восток
						.metro-item__dist 3,4 км
					.metro-item
						.metro-item__icon M
						.metro-item__name Московская
						.metro-item__dist 3,4 км
					.metro-item
						.metro-item__icon M
						.metro-item__name Парк Челюскинцев
						.metro-item__dist 3,4 км

			.map-container
