+modal({
  id: 'modal-comment',
  mod: 'modal-comment modal-wide',
  title:false,
  header: false
})
  div(x-data="{ success: false }")
    .comment-add-form(x-show="!success")
      .modal-title Оставить отзыв
      form.comment-form
        +input({
          mod: '',
          label: 'Ваше имя',
          required: true,
        })
        +input({
          mod: '',
          label: 'E-mail',
          required: false,
        })
        .form-group.comment-form__full
          label.form-control-label Ваша оценка
            span.label-required *
          .rate-group-wrap
            +rate-group({name: 'rate'})
            .rate-group-wrap__text Хорошо
        +textarea({
          mod: '',
          label: 'Достоинства',
          required: false,
        })
        +textarea({
          mod: '',
          label: 'Недостатки',
          required: false,
        })
        +textarea({
          mod: 'comment-form__full',
          label: 'Комментарий',
          required: false,
        })
        .comment-form__bottom.comment-form__full
          .policy-block
            +checkbox({
              mod: '',
              label: 'Я согласен на <a href="#"> обработку персональных данных</a>',
              value: '',
              name: 'policy',
              required: true,
            })(checked) 

          button.btn Оставить отзыв
    .comment-form__success(x-show="success")
      .comment-form__success-image
        <svg xmlns="http://www.w3.org/2000/svg" width="62" height="59" viewBox="0 0 62 59" fill="none">
          <path d="M53.0284 18.9453L48.4172 1.72327C48.3525 1.48134 48.2407 1.25454 48.0884 1.05582C47.936 0.857097 47.7459 0.690349 47.529 0.565103C47.3122 0.439857 47.0728 0.358567 46.8245 0.325879C46.5762 0.293191 46.3239 0.309745 46.082 0.374596L43.4876 1.07038C43.2671 1.12783 43.0589 1.22471 42.8729 1.35631L37.2895 5.34896L32.4666 1.21621C31.9456 0.768828 31.2815 0.522864 30.5947 0.522864C29.9079 0.522864 29.2439 0.768828 28.7228 1.21621L2.9884 23.3954C2.67729 23.6646 2.42793 23.9978 2.25735 24.3722C2.08678 24.7465 1.999 25.1533 2.00001 25.5647V54.2347C2.00001 54.9931 2.30126 55.7204 2.8375 56.2566C3.37374 56.7929 4.10103 57.0941 4.85938 57.0941H56.3281C57.0865 57.0941 57.8138 56.7929 58.35 56.2566C58.8862 55.7204 59.1875 54.9931 59.1875 54.2347V25.5647C59.1887 25.1529 59.1009 24.7457 58.9301 24.371C58.7594 23.9963 58.5097 23.6628 58.1982 23.3935L53.0284 18.9453ZM57.2612 54.3358L39.8648 40.4144L57.2813 26.4769V54.2347C57.2765 54.2688 57.2698 54.3025 57.2612 54.3358ZM3.90626 54.2347V26.4759L21.3275 40.4144L3.92627 54.3358C3.91758 54.3025 3.9109 54.2688 3.90626 54.2347ZM29.9952 35.9185C30.1657 35.7852 30.3759 35.7128 30.5923 35.7128C30.8088 35.7128 31.019 35.7852 31.1895 35.9185L55.274 55.1879H5.91259L29.9952 35.9185ZM46.5729 2.21603L51.5063 20.6295L49.6648 21.1222L44.7315 2.70975L46.5729 2.21603ZM29.6406 12.6785L31.6136 20.0442L26.0855 21.5244C25.1081 21.7861 24.0668 21.6487 23.1907 21.1426C22.3145 20.6365 21.6754 19.8031 21.4137 18.8257C21.1521 17.8483 21.2895 16.807 21.7956 15.9309C22.3017 15.0547 23.1351 14.4156 24.1125 14.1539L29.6406 12.6785ZM31.1866 22.1316L32.9137 28.5766C32.9789 28.8207 32.9445 29.0806 32.8182 29.2994C32.6918 29.5181 32.4838 29.6778 32.2398 29.7432C31.9957 29.8085 31.7358 29.7741 31.517 29.6478C31.2983 29.5214 31.1386 29.3134 31.0732 29.0694L29.3461 22.6253L31.1866 22.1316ZM33.5313 19.8326L31.4068 11.9026L42.9996 3.61046L47.7147 21.208L33.5313 19.8326ZM29.9695 2.65733C30.143 2.50608 30.3654 2.42276 30.5957 2.42276C30.8259 2.42276 31.0483 2.50608 31.2219 2.65733L35.692 6.48794L29.8989 10.6283L23.8466 12.2486C22.4321 12.6041 21.2004 13.473 20.391 14.6862C19.5815 15.8994 19.2522 17.3703 19.467 18.8128C19.6031 19.5953 19.9007 20.341 20.3409 21.0021C20.781 21.6633 21.3541 22.2255 22.0236 22.653C22.6931 23.0804 23.4442 23.3637 24.2292 23.4848C25.0142 23.6059 25.8158 23.5622 26.583 23.3563L27.5037 23.1104L29.2051 29.4611C29.3514 30.0519 29.6747 30.5839 30.1315 30.9861C30.4847 31.2876 30.906 31.4986 31.3591 31.6007C31.8121 31.7028 32.2832 31.6931 32.7316 31.5723C33.1812 31.4525 33.5947 31.2249 33.9363 30.9092C34.278 30.5934 34.5374 30.1991 34.6922 29.7604C34.8837 29.1837 34.8954 28.5624 34.7256 27.979L33.0433 21.696L48.726 23.221C48.9534 23.2438 49.183 23.225 49.4037 23.1657L52 22.4699C52.2433 22.4051 52.4712 22.2924 52.6703 22.1384C52.8695 21.9844 53.036 21.7922 53.1599 21.573L56.6284 24.5573L38.3398 39.1963L32.378 34.4259C31.8711 34.0206 31.2414 33.7998 30.5923 33.7998C29.9433 33.7998 29.3136 34.0206 28.8066 34.4259L22.8525 39.1916L4.5582 24.5573L29.9695 2.65733Z" fill="#8A6048"/>
          <path d="M52.7198 10.4356C52.774 10.6384 52.8936 10.8177 53.0601 10.9456C53.2266 11.0735 53.4306 11.1428 53.6405 11.1428C53.7239 11.1429 53.807 11.1316 53.8874 11.1095L57.5703 10.123C57.8145 10.0575 58.0226 9.89772 58.149 9.67875C58.2754 9.45979 58.3096 9.19959 58.2441 8.95541C58.1787 8.71122 58.0189 8.50303 57.7999 8.37666C57.5809 8.25029 57.3207 8.21607 57.0765 8.28154L53.3937 9.26898C53.1497 9.33444 52.9416 9.49408 52.8153 9.71283C52.6889 9.93158 52.6546 10.1915 52.7198 10.4356Z" fill="#8A6048"/>
          <path d="M51.6014 5.76867C51.7267 5.76877 51.8508 5.74416 51.9666 5.69624C52.0824 5.64832 52.1876 5.57803 52.2762 5.48941L54.9716 2.79397C55.0626 2.70605 55.1353 2.60087 55.1852 2.48459C55.2352 2.3683 55.2615 2.24324 55.2626 2.11668C55.2637 1.99013 55.2395 1.86462 55.1916 1.74748C55.1437 1.63035 55.0729 1.52393 54.9834 1.43444C54.8939 1.34495 54.7875 1.27417 54.6704 1.22625C54.5532 1.17833 54.4277 1.15421 54.3012 1.15531C54.1746 1.15641 54.0496 1.1827 53.9333 1.23265C53.817 1.28261 53.7118 1.35522 53.6239 1.44625L50.9275 4.14169C50.7942 4.27498 50.7035 4.4448 50.6667 4.62966C50.63 4.81452 50.6489 5.00613 50.721 5.18027C50.7931 5.3544 50.9152 5.50324 51.0719 5.60798C51.2286 5.71271 51.4129 5.76863 51.6014 5.76867Z" fill="#8A6048"/>
          <path d="M53.6419 15.6156C53.6095 15.7365 53.6012 15.8626 53.6175 15.9867C53.6338 16.1108 53.6744 16.2305 53.737 16.339C53.7996 16.4474 53.8829 16.5424 53.9822 16.6186C54.0815 16.6948 54.1949 16.7508 54.3158 16.7832L57.9987 17.7696C58.0791 17.7918 58.1621 17.8031 58.2455 17.803C58.4768 17.8031 58.7003 17.7191 58.8742 17.5666C59.0481 17.4142 59.1607 17.2037 59.1909 16.9744C59.2211 16.7451 59.1669 16.5126 59.0384 16.3203C58.9099 16.128 58.7158 15.989 58.4924 15.9292L54.8095 14.9417C54.6886 14.9093 54.5625 14.901 54.4384 14.9173C54.3142 14.9336 54.1945 14.9742 54.0861 15.0368C53.9777 15.0994 53.8827 15.1827 53.8064 15.282C53.7302 15.3813 53.6743 15.4947 53.6419 15.6156Z" fill="#8A6048"/>
        </svg> 
      .comment-form__success-title Ваш отзыв принят
      .comment-form__success-descr Ваш отзыв будет отправлен на модерацию и появится на сайте в течение некоторого времени