+include-style('personal')

.personal-nav
	.personal-nav__info
		p Это обязательные данные для оформления заказа. Указывайте только настоящую информацию.
		p Также на этой странице вы можете видеть актуальный баланс взаиморасчетов и дату последнего платежа, а также запрашивать акт-сверки по любой из ваших компаний.
	.personal-nav__info
		p Адреса нужны для оформления заказа.
		p Вы можете иметь до 10 сохраненных адресов. Для удобства один из адресов можно отметить “основным”, этот адрес будет отображаться по-умолчанию при оформлении заказа.
	.personal-nav__btn
		.btn.btn--fw.btn--cart
			span Добавить адрес



