
+include-style('content')
+include-style('contacts')


.container
	.route
		.route-title.t1 Как добраться?
		.route-text Метро «Пушкинская». Выйти из метро, на Тверской бульвар, далее по Тверскому бульвару до пересечения с ул. Малая Никитская. После пересечения Тверского бульвара с ул. Малой Никитской, повернуть направо и пройти по Малой Никитской 200 метров. Ориентир: вывеска «Институт красоты «АИДА».
		.route-grid
			.route-grid__item
				img(src=SITE_TEMPLATE_PATH + 'images/news-1.png')
			.route-grid__item
				img(src=SITE_TEMPLATE_PATH + 'images/news-2.png')
			.route-grid__item
				img(src=SITE_TEMPLATE_PATH + 'images/news-3.png')

.req.section-margin
	.page-header
		.container
			.page-header__title
				.h1.title реквизиты

	.container
		.req-inner.content
			p Почтовый адрес: 220090, РБ г.Минск, ул.Кольцова 3
			p Р/C BY08PJCB30120537741000000933
			br
			p Компания зарегистрирована решением Мингорисполкома от 22.06.2017, в Едином государственном регистре юр. лиц и индивидуальных предпринимателей за №192933136. Интернет-магазин зарегистрирован в Торговом реестре Республики Беларусь 13.01.2020 №470754<br>Зарегистрирован в реестре бытовых услуг РБ<br>за №000000072743 от 15.09.2017
